<?xml version="1.0"?>
<config>
    <modules>
        <RssReader_News>
            <version>0.2.0</version>
        </RssReader_News>
    </modules>
    <global>
        <blocks>
            <RssReader_News>
                <class>RssReader_News_Block</class>
            </RssReader_News>
        </blocks>
        <helpers>
            <RssReader_News>
                <class>RssReader_News_Helper</class>
            </RssReader_News>
        </helpers>
        <models>
            <RssReader_News>
                <class>RssReader_News_Model</class>
                <resourceModel>news_resource</resourceModel>
                <news_resource>
                    <class>RssReader_News_Model_Resource</class>
                    <entities>
                        <news>
                            <table>rss.news</table>
                        </news>
                    </entities>
                </news_resource>
            </RssReader_News>
        </models>
        <resources>
            <RssReader_News_setup>
                <setup>
                    <module>RssReader_News</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </RssReader_News_setup>
            <RssReader_News_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </RssReader_News_write>
            <RssReader_News_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </RssReader_News_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <RssReader_News>
                <use>standard</use>
                <args>
                    <module>RssReader_News</module>
                    <frontName>news</frontName>
                </args>
            </RssReader_News>
        </routers>
        <layout>
            <updates>
                <RssReader_News>
                    <file>RssReader/news.xml</file>
                </RssReader_News>
            </updates>
        </layout>
    </frontend>
</config>