<?xml version="1.0"?>
<config>
    <modules>
        <RssReader_News>
            <version>0.1.0</version>
        </RssReader_News>
    </modules>
    <global>
        <blocks>
            <RssReader_News>
                <class>RssReader_News_Block</class>
            </RssReader_News>
        </blocks>        
    </global>
    <frontend>
        <routers>
            <RssReader_News>
                <use>standard</use>
                <args>
                    <module>RssReader_News</module>
                    <frontName>news</frontName>
                </args>
            </RssReader_News>
        </routers>
        <layout>
            <updates>
                <RssReader_News>
                    <file>RssReader/news.xml</file>
                </RssReader_News>
            </updates>
        </layout>
    </frontend>
</config>