.col-main {
    background-color: #DE1E1E;
}

.header {
    width: 100px;
    height: 200px;
    background-color: #4A4ADE;
}

.footer {
    width: 100px;
    height: 200px;
    background-color: red;    
}