<?xml version="1.0"?>
<config>
    <modules>
        <Test_MyModul>
            <version>0.1.0</version>
        </Test_MyModul>
    </modules>                         
    <global>
        <blocks>
            <test_mymodul>
                <class>Test_MyModul_Block</class>
            </test_mymodul>
        </blocks>
        <models>
            <test_mymodul>
                <class>Test_MyModul_Model</class>
                <resourceModel>mymodul_resource</resourceModel>
            </test_mymodul>
            <mymodul_resource>
                <class>Test_MyModul_Model_Resource</class>
                <entities>
                    <mymodul>
                        <table>rss.news</table>
                    </mymodul>
                    <chanel>
                        <table>rss.chanel</table>
                    </chanel>
                </entities>
            </mymodul_resource>
        </models>
        <resources>
            <test_mymodul_setup>
                <setup>
                    <module>Test_MyModul</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </test_mymodul_setup>
            <test_mymodul_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </test_mymodul_write>
            <test_mymodul_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </test_mymodul_read>
        </resources>
        <events>
            <controller_front_init_routers>
                <observers>
                    <mymodul_index>
                        <class>Test_MyModul_Controller_Routers_Router</class>
                        <method>initControllerRouters</method>
                    </mymodul_index>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>      
    <frontend>
        <routers>
            <Test_MyModul>
                <use>standard</use>
                <args>
                    <module>Test_MyModul</module>
                    <frontName>mymodul</frontName>
                </args>
            </Test_MyModul>
        </routers>
        <layout>
            <updates>
                <test_mymodul>
                    <file>test/mymodul.xml</file>
                </test_mymodul>
            </updates>
        </layout>
    </frontend>
</config>