<?xml version="1.0"?>
<config>
    <modules>
        <Freaks_Quotes>
            <version>0.1.0</version>
        </Freaks_Quotes>
    </modules>
    <global>
        <blocks>
            <freaks_quotes>
                <class>Freaks_Quotes_Block</class>
            </freaks_quotes>
        </blocks>
    </global>
    <frontend>
        <routers>
            <Freaks_Quotes>
                <use>standard</use>
                <args>
                    <module>Freaks_Quotes</module>
                    <frontName>quotes</frontName>
                </args>
            </Freaks_Quotes>
        </routers>
        <layout>
            <updates>
                <freaks_quotes>
                    <file>freaks/quotes.xml</file>
                </freaks_quotes>
            </updates>
        </layout>
    </frontend>
</config>